// Calendar popup rofi theme - HyDe style //
configuration {
    modi:                        "dmenu";
    show-icons:                  false;
    font:                        "JetBrainsMono Nerd Font 10";
}

@theme "~/.config/rofi/theme.rasi"


// Main //
window {
    width:                       32em;
    height:                      22em;
    transparency:                "real";
    fullscreen:                  false;
    enabled:                     true;
    cursor:                      "default";
    spacing:                     0em;
    padding:                     0em;
    border:                      0.15em;
    border-radius:               0.8em;
    border-color:                @main-br;
    background-color:            @main-bg;
}
mainbox {
    enabled:                     true;
    spacing:                     0em;
    padding:                     0.8em;
    orientation:                 vertical;
    children:                    [ "message" , "listbox" ];
    background-color:            transparent;
}
message {
    enabled:                     true;
    margin:                      0em 0em 0.5em 0em;
    padding:                     0.5em;
    background-color:            transparent;
    text-color:                  @main-fg;
}
textbox {
    padding:                     0.3em 0.5em;
    background-color:            transparent;
    text-color:                  @main-br;
    horizontal-align:            0.5;
    font:                        "JetBrainsMono Nerd Font Bold 11";
}


// Lists //
listbox {
    spacing:                     0em;
    padding:                     0em;
    orientation:                 vertical;
    children:                    [ "listview" ];
    background-color:            transparent;
}
listview {
    enabled:                     true;
    padding:                     0.2em;
    columns:                     1;
    lines:                       8;
    cycle:                       true;
    fixed-height:                true;
    fixed-columns:               false;
    expand:                      false;
    cursor:                      "default";
    background-color:            transparent;
    text-color:                  @main-fg;
    scrollbar:                   false;
}


// Elements //
element {
    enabled:                     true;
    padding:                     0.5em 0.8em;
    margin:                      0.1em 0em;
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @main-fg;
    border-radius:               0.4em;
}
element selected.normal {
    background-color:            @select-bg;
    text-color:                  @select-fg;
}
element-text {
    vertical-align:              0.5;
    horizontal-align:            0.0;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}
